{% extends 'layout.html' %} {% block content %}
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <img class="movie_img" src="{{movie.poster_url}}" alt="{{movie.title}}">
            </div>
            <div class="col">
                <h1 class="mt-5">{{movie.title}}</h1>
                <h4>Directed by {{movie.director.director_full_name}}</h4>
                <p class="subtitle">{{movie.year}} |
                {% for genre in movie.genres %}
                {{genre.genre}} |
                {% endfor %}
                {{movie.runtime}} minutes
                </p>
                <p>{{movie.desc}}</p>
                <h4 class="mt-5">Cast</h4>
                <p class="subtitle">
                {% for actor in movie.actors %}
                {{actor.name}}<br>
                {% endfor %}
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        {% if 'username' in session %}
        <div class="row">
            <div class="col">
                <h4 class="mt-5">Write a review</h4>
                
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col">
                <h4 class="mt-5">Reviews</h4>
                {% if reviews|length!=0 %}
                {% for review in reviews %}
                <div class="review">
                    <div class="rating"><img id="star" src="static/icons/star-white.svg" alt="star"> {{review.rating}}/10</div>
                    <p class="subtitle">Written by {{review.user.first_name}} {{review.user.last_name}} on {{review.timestamp}}</p>
                    <p>{{review.review_text}}</p>
                </div>
                {% endfor %}
                {% else %}
                <p class="subtitle">No reviews for this movie</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}