@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

.header {
    font-family: 'Bebas Neue', cursive;
}

.body {
    font-family: 'Roboto', sans-serif;
}

.scrolling-wrapper {
	overflow-x: auto !important;
}

h1{
	font-weight: 800;
	font-size: 3em;
}

.subtitle {
	font-size: 1.25em;
	opacity: 0.65;
}

.card-block {
	background-color: #fff;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 24px;
}

.home-carousel {
	max-width: 33% !important;
}

.movie_img {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
	max-width: 80%;
	margin-top: 3rem!important;
}

.browse_movie_img {
	border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
	max-width: 70%;
	margin-top: 3rem!important;
}

.review {
	border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
	margin-bottom: .75em;
	padding: 1.75em;
}

.rating {
	border: 1px solid #007bff;
    border-radius: .25rem;
	max-width: 8.5%;
	background-color: #007bff;
	color: white;
	font-weight: bold;
	margin-bottom: .75em;
}

.dropdown-scroll {
  overflow-y: scroll;
  max-height: 200px;
}

#star {
	margin: .25em;
}

#trash {
	min-width: 200%;
	align-content: center;
}

#btn-genre {
	background-color: #007bff;
	border: 1px solid #007bff;
	color: white;
	margin: .75em;
}

#btn-nav-search {
	background-color: #007bff;
	border: 1px solid #007bff;
}

#home-jumbo {
	background-color: #007bff;
	color: white;
}

#actors-input, #directors-input, #movies-input {
	box-sizing: border-box;
  	background-position: 14px 12px;
  	background-repeat: no-repeat;
  	font-size: 16px;
  	padding: 14px 20px 12px 45px;
  	border: none;
  	border-bottom: 1px solid #ddd;
}

.footer {
	left: 0;
	bottom: 0;
	margin-top: 1.75em;
	padding-top: 1.75em;
	padding-bottom: 1.75em;
	width: 100%;
	background-color: lightgrey;
	color: white;
	text-align: center;
}

.footer-img {
	max-width: 8%;
}

.form-field-margin {
	margin-bottom: 1.75em;
}

#page-container {
  position: relative;
  min-height: 91vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
}
