@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

.header {
    font-family: 'Bebas Neue', cursive;
}

.body {
    font-family: 'Roboto', sans-serif;
}

.scrolling-wrapper {
	overflow-x: auto !important;
}

h1{
	font-weight: 800;
	font-size: 3em;
}

.subtitle {
	font-size: 1.25em;
	opacity: 0.65;
}

.card-block {
	/*height: 250px;*/
	background-color: #fff;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 24px;
	/*max-width: 50%;*/
}

.movie_img {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
	max-width: 80%;
	margin-top: 3rem!important;
}