{% extends 'layout.html' %} {% block content %}
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <img class="movie_img" src="{{movie.poster_url}}" alt="{{movie.title}}">
            </div>
            <div class="col">
                <h1 class="mt-5">{{movie.title}}</h1>
                <h4>Directed by {{movie.director.director_full_name}}</h4>
                <p class="subtitle">{{movie.year}} |
                {% for genre in movie.genres %}
                {{genre.genre}} |
                {% endfor %}
                {{movie.runtime}} minutes
                </p>
                <p>{{movie.desc}}</p>
                <h4 class="mt-5">Cast</h4>
                <p class="subtitle">
                {% for actor in movie.actors %}
                {{actor.name}}<br>
                {% endfor %}
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        {% if 'username' in session %}
        <div class="row">
            <div class="col">
                <h4 class="mt-5">Write a review</h4>
                <div class="form-wrapper">
                    <form action="{{handler_url}}" method="POST">
                        {{ form.movie_id }}
                        {{ form.csrf_token }}
                        <br>
                        <div class ="form-field form-field-margin">
                            <h5>{{ form.review_text.label }}</h5>
                            {{ form.review_text(size = 100, placeholder="Type your review", type="text", class="form-control", cols="50", rows="6", wrap="hard")}}
                            {% if form.review_text.errors %}
                                <ul class="errors">
                                {% for error in form.review_text.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="form-field form-field-margin">
                            <h5>{{ form.rating.label }}</h5>
                            <table>
                                <tr>
                                    <td><h5>1&nbsp;&nbsp;</h5></td>
                                    <td>{{ form.rating(type="range", class="custom-range", min="1", max="10") }}</td>
                                    <td><h5>&nbsp;&nbsp;10</h5></td>
                                </tr>
                            </table>
                        </div>
                        {{ form.submit(class="btn btn-primary") }}
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}