{% extends 'layout.html' %}
{% block content %}
<div class="container">
<main id="main">
    <div class="formwrapper">
        <h1 class="mt-5">{{ title }}</h1>
        <h1 class="mt-5"></h1>
        <form method="POST" action="{{ handler_url }}">
             {{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->
            <div class="form-field form-field-margin">
                <h5>{{ form.username.label }}</h5>
                {{ form.username(type="text", class="form-control") }}
                {% if form.username.errors or username_error_message is not none %}
                    <ul class="errors">
                        {% if username_error_message is not none %}
                            <li>
                                {{ username_error_message }}
                            </li>
                        {% endif %}
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% if title == 'Register' %}
            <div class="form-field form-field-margin">
                <h5>{{ form.first_name.label }}</h5>
                {{ form.first_name(type="text", class="form-control") }}
            </div>
            <div class="form-field form-field-margin">
                <h5>{{ form.last_name.label }}</h5>
                {{ form.last_name(type="text", class="form-control") }}
            </div>
            {% endif %}
            <div class="form-field form-field-margin">
                <h5>{{ form.password.label }}</h5>
                {{ form.password(type="password", class="form-control")}}
                {% if form.password.errors or password_error_message is not none %}
                    <ul class="errors">
                        {% if password_error_message is not none %}
                            <li>
                                {{ password_error_message }}
                            </li>
                        {% endif %}
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
</main>
</div>
{% endblock %}